.section-title {
  $s: &;

  font-family: var(--secondary-font);
  font-size: 45px;
  line-height: 55px;
  margin: 0;
  font-weight: 500;
  color: var(--color-text);
  position: relative;
  display: block;
  text-align: center;
  padding: 0 16px 20px;
  z-index: 3;

  &__wrapper {
    &.light {
      #{$s} {
        color: #fff;
      }

      #{$s}__img {
        &-wrapper {
          svg {
            path {
              fill: #fff;
            }
          }

          &::before,
          &::after {
            background-color: #fff;
          }
        }
      }
    }
  }

  &__img {
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        max-width: 32px;
        display: block;
        margin: 0 10px;
        position: relative;
        z-index: 2;
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 100px;
        background-color: #bbb;
        z-index: 3;
      }
    }
  }
}
