.couple-friends {
  margin-top: 80px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;

    @media(max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .person {
    text-align: center;
    margin-bottom: 20px;

    &__name {
      font-family: var(--secondary-font);
      font-weight: 400;
      font-size: 35px;
      line-height: 45px;
      margin: 10px 0 0;
    }

    &__title {
      font-size: 16px;
      color: var(--color-primary);
    }

    &__image {
      border-radius: 50%;
      z-index: 1;
      background: #fff;
      padding: 20px;
      box-shadow: 0 0 6.1px 3.9px rgba(28,31,86,.04);
      text-align: center;
      max-width: 300px;
      margin: auto;

      img {
        border-radius: 50%;
        max-width: 300px;
      }
    }

    .socials {
      justify-content: center;
    }
  }
}
