:root {
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Caveat', cursive;
  --color-primary: #d66371;
  --color-text: #06002e;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
}

img {
  max-width: 100%;
  height: auto;
}

.app-container {
  max-width: 1440px;
  margin: auto;
}

.button {
  border-radius: 5px;
}
