:root {
  --secondary-font: 'Dancing Script', cursive;
  --color-primary: #d66371;
  --color-text: #06002e;
}

img {
  max-width: 100%;
  height: auto;
}

.app-container {
  max-width: 1440px;
  margin: auto;
}
