.countdown-wrapper {
  display: flex;
  margin-top: 40px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  @media(max-width: 991px) {
    margin-top: 20px;
  }

  .time-section {
    position: relative;
    width: 150px;
    height: 137px;
    background: url('../../assets/timer-bg.png') 50%/cover no-repeat local;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .time, .time-text {
    transform: translateX(-10px)
  }

  .time {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #fff;

    &-text {
      color: #fff;
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }
  }
}
