.banner {
  display: flex;
  align-items: center;
  position: relative;
  padding: 120px 0;

  @media(max-width: 991px) {
    padding-bottom: 60px;
    overflow: hidden;
  }

  &-flowers {
    position: absolute;
    right: 0;
    transform: translateX(50%);
    z-index: -1;
  }

  &-content {
    padding: 0 16px;

    img {
      width: 110px;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &-celebrities {
    color: var(--color-text);
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 30px;
    margin-top: 0;
    font-family: var(--secondary-font);

    span {
      color: var(--color-primary);
    }

    @media(max-width: 991px) {
      font-size: 54px;
      margin-bottom: 15px;
    }
  }

  &-date {
    font-weight: 400;
    font-size: 25px;
    line-height: 36px;
    color: var(--color-text);
    margin: 0;
    text-transform: uppercase;

    @media(max-width: 991px) {
      font-size: 20px;
    }
  }
}
