.banner {
  position: relative;
  min-height: 100vh;
  background-position: 350% 40%;
  background-size: cover;
  margin-bottom: 50px;

  @media(max-width: 991px) {
    min-height: 700px;
    background-position: 50% 40%;
  }

  &-content {
    padding: 0 16px;
    position: relative;
    z-index: 2;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: inherit;

    img {
      width: 110px;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &-celebrities {
    color: #fff;
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: var(--secondary-font);

    span {
      color: var(--color-primary);
    }

    @media(max-width: 991px) {
      font-size: 54px;
      margin-bottom: 15px;
    }
  }

  &-date {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    margin: 0;
    font-family: var(--secondary-font);

    @media(max-width: 991px) {
      font-size: 20px;
    }
  }
}
